[user]
	name = Long
	email = lytlong.pers@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://huggingface.co"]
	provider = generic
[credential]
	helper = store
[init]
	defaultBranch = main
